
.row{
    margin-bottom: -5px;
}
.row div{
    margin: 0;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    background-color: white;
}
.row .wall{
    background-image: url("wall.png");
}
.row .coin{
    background-image: url("coins.gif");

}
.row .Pacman{
    background-image: url("dog.gif");
}
.row .white{
    background-color: white;
}
.row .cherry{
    background-image: url("cherry.gif");
}
.row .ghost{
    background-image: url("ghost.gif");
}
h1{
    width: 500px;
    height: 50px;
    display: inline-block;
}
